# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
env/
venv/
yolov8_env/

# Dataset files
dataset_column/

# YOLOv8 training and prediction outputs
runs/
*.pt
*.txt

# System files
.DS_Store
Thumbs.db

# Logs
*.log
